.dot{
  content: "";
  outline: none;
  margin: 8px;
  width: 10px;
  height: 10px;
  display: inline-block;
  border: 1px solid rgb(176, 176, 176);
  border-radius: 20px;
}
.linkactive{
  width: 12px;
  height: 12px;
  background-color:rgb(176, 176, 176);
}
