<div>
  <app-verticle-navigation></app-verticle-navigation>
  <app-header></app-header>
  <section class="section-1" style="background-color: aqua;" id="">
    <div class="test">
      <section>
        <div class="example-label">Basic</div>
        <div class="example-button-row">
          <button mat-button>Basic</button>
          <button mat-button color="primary">Primary</button>
          <button mat-button color="accent">Accent</button>
          <button mat-button color="warn">Warn</button>
          <button mat-button disabled>Disabled</button>
          <a mat-button href="https://www.google.com/" target="_blank">Link</a>
        </div>
      </section>
      <mat-divider></mat-divider>
      <section>
        <div class="example-label">Raised</div>
        <div class="example-button-row">
          <button mat-raised-button>Basic</button>
          <button mat-raised-button color="primary">Primary</button>
          <button mat-raised-button color="accent">Accent</button>
          <button mat-raised-button color="warn">Warn</button>
          <button mat-raised-button disabled>Disabled</button>
          <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
        </div>
      </section>
      <mat-divider></mat-divider>
      <section>
        <div class="example-label">Stroked</div>
        <div class="example-button-row">
          <button mat-stroked-button>Basic</button>
          <button mat-stroked-button color="primary">Primary</button>
          <button mat-stroked-button color="accent">Accent</button>
          <button mat-stroked-button color="warn">Warn</button>
          <button mat-stroked-button disabled>Disabled</button>
          <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
        </div>
      </section>
      <mat-divider></mat-divider>
      <section>
        <div class="example-label">Flat</div>
        <div class="example-button-row">
          <button mat-flat-button>Basic</button>
          <button mat-flat-button color="primary">Primary</button>
          <button mat-flat-button color="accent">Accent</button>
          <button mat-flat-button color="warn">Warn</button>
          <button mat-flat-button disabled>Disabled</button>
          <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
        </div>
      </section>
      <mat-divider></mat-divider>
      <section>
        <div class="example-label">Icon</div>
        <div class="example-button-row">
          <div class="example-flex-container">
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
              <mat-icon>more_vert</mat-icon>
            </button>
            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
              <mat-icon>home</mat-icon>
            </button>
            <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
              <mat-icon>menu</mat-icon>
            </button>
            <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
              <mat-icon>open_in_new</mat-icon>
            </button>
          </div>
        </div>
      </section>
      <mat-divider></mat-divider>
      <section>
        <div class="example-label">FAB</div>
        <div class="example-button-row">
          <div class="example-flex-container">
            <div class="example-button-container">
              <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <div class="example-button-container">
              <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
                <mat-icon>bookmark</mat-icon>
              </button>
            </div>
            <div class="example-button-container">
              <button mat-fab color="warn" aria-label="Example icon button with a home icon">
                <mat-icon>home</mat-icon>
              </button>
            </div>
            <div class="example-button-container">
              <button mat-fab disabled aria-label="Example icon button with a heart icon">
                <mat-icon>favorite</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </section>
      <mat-divider></mat-divider>
      <section>
        <div class="example-label">Mini FAB</div>
        <div class="example-button-row">
          <div class="example-flex-container">
            <div class="example-button-container">
              <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                <mat-icon>menu</mat-icon>
              </button>
            </div>
            <div class="example-button-container">
              <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                <mat-icon>plus_one</mat-icon>
              </button>
            </div>
            <div class="example-button-container">
              <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                <mat-icon>filter_list</mat-icon>
              </button>
            </div>
            <div class="example-button-container">
              <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
                <mat-icon>home</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
  <section class="section-2" style="height: 100vh;background-color: rgb(0, 255, 157);" id="technology">
    <div class="container text-center py-5">
      <small class="mat-caption mb-2 text-weight-bold">Want to Know My Skills</small>
      <h3 class="mat-display-2 text-uppercase mb-2">Technological Skills</h3>
      <hr style="width: 100px;display: inline-block;">
    </div>
  </section>
  <section class="section-3" style="height: 100vh;background-color: rgb(208, 255, 0);" id="service">
    <div class="container text-center py-5">
      <small class="mat-caption mb-2 text-weight-bold">Here is My</small>
      <h3 class="mat-display-2 text-uppercase mb-2">Services</h3>
      <hr style="width: 100px;display: inline-block;">
    </div>
  </section>
  <section class="section-4" style="background-color: rgb(182, 109, 172);" id="portfolio">
    <div class="container text-center py-5">
      <small class="mat-caption mb-2 text-weight-bold">Check Out Some</small>
      <h3 class="mat-display-2 text-uppercase mb-2">More Projects</h3>
      <hr style="width: 100px;display: inline-block;">
      <div class="projects w-75 m-auto py-4">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 py-3" *ngFor="let i of [1,2,3,4,6,7]">
              <div class="pro-card">
                <img class="w-100" src="https://images.unsplash.com/photo-1494548162494-384bba4ab999?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHw%3D&w=1000&q=80" alt="">
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-5 " style="background-color: rgb(170, 89, 100);position: relative;" id="contact">
    <div class="container text-center py-5">
      <small class="mat-caption mb-2 text-weight-bold">Want to Contact</small>
      <h3 class="mat-display-2 text-uppercase mb-2">Send Me a Message</h3>
      <hr style="width: 100px;display: inline-block;">
      <div class="row w-75 m-auto justify-content-center text-start py-4 my-2">
        <div class="contact-info col-md-5 py-3">
          <h2 class="mat-title text-uppercase">Contact Information</h2>
          <div><mat-icon>email</mat-icon> Manish Kumar</div>
          <div><mat-icon>call</mat-icon> +91 875096033</div>
          <div><mat-icon>location_on</mat-icon> A-194 Gopal Vihar </div>
          <h2 class="mat-title text-uppercase">Social media</h2>
          <i class="fab fa-facebook-square"></i>
          <i class="fab fa-google-plus"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-github"></i>
          <i class="fab fa-facebook"></i>
        </div>
        <div class="send-feilds col-md-5 py-3">
          <h2 class="mat-title text-uppercase">Send Email</h2>
          <div class="row">
            <mat-form-field appearance="outline" class="col-6">
              <mat-label>First Name</mat-label>
              <input matInput placeholder="First Name">
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-6">
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Massege</mat-label>
              <textarea matInput rows="4" placeholder="massege"></textarea>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </div>
          <div class="text-end">
            <button mat-flat-button> send</button>
          </div>
        </div>
      </div>
      <div class="sociable" style="position: absolute; bottom: 35px;left: 35px;">
        <i class="fab fa-facebook-square"></i>
          <i class="fab fa-google-plus"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-github"></i>
          <i class="fab fa-facebook"></i>
      </div>
    </div>
  </section>
  <app-footer id="footer">

  </app-footer>
</div>
